<aside>
  <div class="widget-frame">
    <header>
      <h3 class="fa-item fa-tags widget-title" tags>
        {{ .Site.Data.l10n.widgets.tags }}
      </h3>
    </header>
    <div class="widget-contents" tags>
      <ul>
        {{ range $name, $items := .Site.Taxonomies.tags }}
        <li>
          {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
          <a class="fa-item fa-tag" href="{{ $url | absURL }}">
            {{ $name | title }}
            <span class="item-number">{{ len $items }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</aside>