<section>
  {{ $paginator := .Paginate (where .Site.Pages "Type" "blog") }}
  <div class="article-list">
    {{ range $paginator.Pages }}
      {{ if isset .Params "title" }}
        {{ .Render "summary" }}
      {{ end }}
    {{ end }}

    <article class="summary_post">
      <nav role="pagination">
        <div class="pagination__page-number">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</div>
        <div class="pagination__arrow">
          {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}">&lt;&lt;&lt;</a>
          {{ else}}
          <span class="disable_arrow">&lt;&lt;&lt;</span>
          {{ end }}

          {{ if $paginator.HasNext }}
          <a href="{{ $paginator.Next.URL }}">&gt;&gt;&gt;</a>
          {{ else}}
          <span class="disable_arrow">&gt;&gt;&gt;</span>
          {{ end }}
        </div>
      </nav>
    </article>
  </div>
</section>