<section>
  {{ $paginator := .Paginate (where (where .Site.Pages "IsPage" true) "Section" "blog") }}
  <div class="article-list">
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}

    <article class="summary-post">
      <div class="pagination">
        <div>
          {{ if eq $paginator.PageNumber 1 }}
            <span class="fa-item fa-arrow-circle-left disable-arrow">
              {{ .Site.Data.l10n.pagination.first }}
            </span>
          {{ else}}
            <a class="fa-item fa-arrow-circle-left" href="{{ $paginator.First.URL }}">
              {{ .Site.Data.l10n.pagination.first }}
            </a>
          {{ end }}
        </div>
        <div>
          {{ if $paginator.HasPrev }}
            <a class="fa-item fa-arrow-circle-left" href="{{ $paginator.Prev.URL }}">
              {{ .Site.Data.l10n.pagination.previous }}
            </a>
          {{ else}}
            <span class="fa-item fa-arrow-circle-left disable-arrow">
              {{ .Site.Data.l10n.pagination.previous }}
            </span>
          {{ end }}
        </div>
        <div>
          {{ $startNum := (add (mul (sub $paginator.PageNumber 1) $paginator.PageSize) 1) }}
          {{ $endNum := (sub (add $startNum  $paginator.NumberOfElements) 1)}}

          {{ $startNum }}-{{ $endNum }}({{ $paginator.TotalNumberOfElements }} {{ .Site.Data.l10n.articles.number }})
        </div>
        <div>
          {{ if $paginator.HasNext }}
            <a class="fa-item fa-after-arrow-circle-right" href="{{ $paginator.Next.URL }}">
              {{ .Site.Data.l10n.pagination.next }}
            </a>
          {{ else }}
            <span class="fa-item fa-after-arrow-circle-right disable-arrow">
              {{ .Site.Data.l10n.pagination.next }}
            </span>
          {{ end }}
        </div>
        <div>
          {{ if eq $paginator.PageNumber $paginator.TotalPages }}
            <span class="fa-item fa-after-arrow-circle-right disable-arrow">
              {{ .Site.Data.l10n.pagination.last }}
            </span>
          {{ else }}
            <a class="fa-item fa-after-arrow-circle-right" href="{{ $paginator.Last.URL }}">
              {{ .Site.Data.l10n.pagination.last }}
            </a>
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</section>