{{ if isset .Site.Params "slider" }}
{{ if .Site.Params.slider.enable }}
<section>
  <div id="slider">
    <div class="slider-contents">
    {{ range $index, $page := first .Site.Params.slider.num_features (where .Site.Pages.ByDate "Type" "group") }}
    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
      <div class="slide" {{ if eq $index 0 }}active{{ end }}>
        <figure>
          <a href="{{ .Permalink }}" title="{{ .Title }}">
            <img src="{{ .Params.banner }}" class="slide-image" alt="{{ .Title }}" title="{{ .Title }}">
          </a>
        </figure>
        <article>
          <div class="slide-text slide-text-{{ .Params.banner_pos }}">
            <h1 class="slide-title">
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            <div class="slide-content">
              {{ printf "%s" .Summary | markdownify }}
            </div>
          </div>
        </article>
      </div>
    {{ end }}
    {{ end }}
    </div>
    <div class="slider-pager">
    {{ range $index, $page := first .Site.Params.slider.num_features (where .Site.Pages.ByDate "Type" "group") }}
    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
      <div
              class="pager-dot"
              {{ if eq $index 0 }}active{{ end }}
              @click="changePage({{ $index }})">
      </div>
    {{ end }}
    {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
