@mixin main($ratio, $font_size) {
  .main_container {
    background: $base_color_white;
    max-width: $content_width;
    margin: 20px * $ratio auto;
    @include drop_shadow_frame;
  }

  .header {
    position: relative;
    padding: 10px * $ratio 20px * $ratio 15px * $ratio;
  }

  .site-logo {
    padding: 20px * $ratio 10px * $ratio 0;
  }

  .site-title {
    padding: 0;
    line-height: 40px * $ratio;
  }

  .site-description {
    color: $base_color_gray;
    padding: 8px * $ratio 0;
  }

  .social-links {
    position: absolute;
    top: 25px * $ratio;
    right: 20px * $ratio;
  }

  .navigation {
    background: $base_color_blue;
    padding: 0 20px * $ratio;
    border-top: $base_color_blue_dark 1px solid;
    border-bottom: $base_color_blue_dark 1px solid;

    .navigation-menu{
      text-decoration: none;
      display: block;
      font-size: ($font_size - 2px);
      height: ($font_size - 2px);
      line-height: ($font_size - 2px);
      padding: 12px * $ratio 10px * $ratio;
      color: $base_color_white;
      @include transition_item();

      &:hover {
        background: $base_color_blue_dark;
      }
    }
  }

  .slider-contents {
    border-bottom: $base_color_blue 3px solid;

    .slide {
      position: relative;
      background: $base_color_water;
      height: $slider_height * $ratio;
      overflow: hidden;

      .slide-image {
        width: 100%;
      }

      .slide-text {
        padding: 10px * $ratio;
        border-radius: $border_radius;
        position: absolute;
        top: 30px * $ratio;
        height: ($slider_height - 80px) * $ratio;
        width: 35%;
        background: rgba($base_color_black, 0.5);
        text-align: right;

        .slide-title {
          padding-bottom: 10px * $ratio;
        }

        a {
          color: $base_color_white;

          &:hover {
            text-decoration: none;
            color: $base_color_white;
          }
        }

        .slide-content {
          color: $base_color_white;
        }
      }

      .slide-text-left {
        left: 30px * $ratio;
      }

      .slide-text-right {
        right: 30px * $ratio;
      }

      &[active] {
        @include fade_in_item();
      }

      &:not([active]) {
        display: none;
      }
    }

  }

  .slider-pager {
    position: relative;
    top: -10px * $ratio;
    margin-top: -($slider_pager_size + 20px) * $ratio;

    .pager-dot {
      margin: 10px * $ratio 15px * $ratio;
      width: $slider_pager_size * $ratio;
      height: $slider_pager_size * $ratio;
      border-radius: $slider_pager_size * $ratio;
      box-shadow: 2px 2px 10px rgba($base_color_black_light, 0.7);
      cursor: pointer;
      @include transition_item();

      &[active] {
        background: $base_color_blue;

        &:hover {
          background: $base_color_blue_light;
          box-shadow: 0 0 4px rgba($base_color_white, 0.7);
        }
      }

      &:not([active]) {
        background: $base_color_gray;

        &:hover {
          background: $base_color_gray_light;
          box-shadow: 0 0 4px rgba($base_color_white, 0.7);
        }
      }
    }
  }

  .contents {
    clear: both;
    display: flex;
    flex-direction: row;
  }

  .article-list {
    .summary-post {
      position: relative;
      display: block;
      background: $base_color_white;
      margin: 30px * $ratio 40px * $ratio;
      @include drop_shadow_frame;

      .summary-image-frame {
        height: $summary_image_height * $ratio;
        position: relative;
        overflow: hidden;

        .summary-image {
          width: 100%;
        }
      }

      .dummy-image-frame {
        height: 1px;
        position: relative;
        overflow: hidden;

        .dummy-image {
          width: 100%;
        }
      }

      .summary-title {
        padding: 10px * $ratio 15px * $ratio;

        &:before {
          color: $base_color_gray;
          margin-right: 5px;
        }
      }

      .summary-description {
        padding: 15px * $ratio 20px * $ratio;

        p {
          padding-top: $inter_section_height * $ratio;
          line-height: $font_size * 1.4;
          letter-spacing: 0.5px;
        }

        .article-picture {
          margin: $inter_section_height * $ratio 0 0;
          width: 100%;
          @include picture_frame();
        }

        h2 {
          padding-top: $inter_section_height * $ratio * 2;
          padding-left: 10px * $ratio;
          border-bottom: $base_color_blue 3px solid;
        }
      }

      .taxonomy-list {
        ul {
          list-style: none;
          padding: 15px * $ratio;

          li {
            margin: 5px 10px * $ratio;

            a {
              color: $base_color_blue;
              font-size: $font_size;
              font-weight: normal;

              &:hover {
                color: $base_color_blue_light;
              }
            }
          }
        }
      }

      .pagination {
        padding: 20px * $ratio 15px * $ratio;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: $font_size * 0.95;

        .disable-arrow {
          color: $base_color_gray;
        }
      }
    }
  }

  .share-links {
    padding-right: 10px * $ratio;

    ul:before {
      color: $base_color_gray;
      font-size: $font_size - 2px;
      content: $string_share;
      line-height: ($social_icon_size + 10px) * $ratio;
    }
  }

  .article-footer {
    background: darken($base_color_white, 2%);
    line-height: $summary_footer_height * $ratio;
    font-size: $font_size * 0.85;

    div {
      padding: 0 15px * $ratio;
      min-width: 100px;
    }

    .post-author {
      margin-left: auto;
      text-align: right;
    }
  }

  .widget-list {
    .widget-frame {
      position: relative;
      display: block;
      background: $base_color_white;
      margin: 30px * $ratio 40px * $ratio 30px * $ratio 0;
      min-width: $widget_width;
      @include drop_shadow_frame;
    }

    .widget-title {
      padding: 10px * $ratio 15px * $ratio;
      border-bottom: $base_color_sky 2px dashed;

      &:before {
        color: $base_color_gray;
      }
    }

    .widget-contents {
      ul {
        list-style: none;
        padding: 15px * $ratio;

        li {
          margin: 5px 10px * $ratio;

          a {
            color: $base_color_blue;
            font-size: $font_size;
            font-weight: normal;

            &:hover {
              color: $base_color_blue_light;
            }
          }

          .item-number {
            position:relative;
            top: -1px;
            margin-left: 5px;
            padding: 2px 6px;
            color: $base_color_white;
            background: $base_color_white_dark;
            font-size: $font_size * 0.8;
            border-radius: $font_size * 0.8;
          }
        }
      }
    }

    .widget-contents[tags] {
      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          border-radius: $border_radius;
          border: $base_color_sky 1px solid;
          padding: 3px 6px * $ratio;
          margin: 2px 4px * $ratio;
          @include transition_item();

          a {
            text-decoration: none;

            &:before {
              color: $base_color_blue;
            }
          }

          &:hover {
            border: $base_color_blue 1px solid;
          }

        }
      }
    }
  }

  .footer {
    font-size: $font_size * 0.75;
    max-width: $content_width;
    height: 20px * $ratio;
    margin: 0 auto;
    text-align: right;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }


  .help-block {
    color: lighten($base_color_black, 20%);
    font-size: ($font_size - 2px);
  }

  .help-indent {
    padding-left: $font_size * 2;
    padding-right: $font_size;
  }
}

@mixin main-media-md($ratio) {
  .slider {
    .slide {
      .slide-text {
        display: none;
      }
    }
  }

  .contents {
    flex-direction: column;
  }

  .article-list {
    .summary-post {
      .pagination {
        flex-direction: column;
        align-items: center;

        div {
          padding: 5px;
        }
      }
    }
  }

  .widget-list {
    .widget-frame {
      margin: 30px * $ratio 40px * $ratio;
    }
  }
}

@include main(1, $base_font_size);
@include max-screen(xl) {
  @include main(getRatio(xl), getFontSize(xl));
};
@include max-screen(lg) {
  @include main(getRatio(lg), getFontSize(lg));
};
@include max-screen(md) {
  @include main(getRatio(md), getFontSize(md));
  @include main-media-md(getRatio(md));
};
@include max-screen(sm) {
  @include main(getRatio(sm), getFontSize(sm));
  @include main-media-md(getRatio(md));
};
@include max-screen(xs) {
  @include main(getRatio(xs), getFontSize(xs));
  @include main-media-md(getRatio(md));
};
