$breakpoint-list: (
  xl: 1198px,
  lg: 992px,
  md: 768px,
  sm: 480px,
  xs: 320px
);
$xl-ratio: .95;
$xs-ratio: .6;
$xl-font-size: $base_font_size;
$xs-font-size: $base_font_size - 4px;

@mixin max-screen($breakpoint-name) {
  $width: map_get($breakpoint-list, $breakpoint-name);
  @media screen and (max-width: $width) {
    @content;
  }
}

@function getRatio($breakpoint-name) {
  $width: map_get($breakpoint-list, $breakpoint-name);
  $ratio_a: ($xl-ratio - $xs-ratio)/ (map_get($breakpoint-list, xl) - map_get($breakpoint-list, xs));
  $ratio_b: $xs-ratio - ($ratio_a * map_get($breakpoint-list, xs));

  @return $ratio_a * $width + $ratio_b;
}

@function getFontSize($breakpoint-name) {
  $width: map_get($breakpoint-list, $breakpoint-name);
  $ratio_a: ($xl-font-size - $xs-font-size)/ (map_get($breakpoint-list, xl) - map_get($breakpoint-list, xs));
  $ratio_b: $xs-font-size - ($ratio_a * map_get($breakpoint-list, xs));

  @return $ratio_a * $width + $ratio_b;
}

@mixin drop_shadow_frame {
  box-shadow: 1px 3px 8px rgba($base_color_black, 0.4);
  border-radius: $border_radius;
}

@mixin transition_item {
  transition: all $transition_time ease-out;
}

@mixin fade_in_item {
  animation: fade_in 1.6s ease-out 0s 1 normal;
}

@keyframes fade_in {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
