<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head" . }}
  <body>
    <div class="main_container">
      <header>
        {{ partial "header" . }}
        {{ partial "nav" . }}
      </header>
      <div class="contents">
        <section id="main">
          <div>
            <h1 id="title">{{ .Title }}</h1>
            <div class="tags_list">
              {{ range $key, $value := .Data.Terms }}
              <div class="tags_item">
                <a href="{{ $key | urlize }}">
                  {{ $key }}
                  <span class="tags_number">{{ len $value }}</span>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer>
      {{ partial "footer" . }}
    </footer>
    <script src="{{ .Site.BaseURL }}/js/main.min.js"></script>
    {{ partial "googleAnalytics" . }}
  </body>
</html>
